#root {
  /* changed max width to 100% view width of any viewers screen instead of default 1280px */
  max-width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
