* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --headerHeight: 115px

}

#root {
  padding: 0;
  width: 100%;
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #040404;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}





/* Header css */
#whole-header {
  height: var(--headerHeight);
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#whole-header-h1 {
  position: fixed;
  top: 52px;
  transform: translate(-50%, -50%);
  /* styling */
  color: #FFF;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  z-index: 11;
}

#logo-pic {
  width: 100px;
}

.flex-for-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  list-style-type: none;
}

.flex-for-header a, label {
  cursor: pointer;
  padding: 3px 10px 3px;
  margin: 10px;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  border-radius: 3px;
}
.flex-for-header a:hover {
  color: #000;
  background-color: #fff;
}





/* Login form */
/* controls the whole Login */
.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 25px;
  max-width: 1000px;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 0 30vw 1vw rgb(0, 0, 0);
  background-color: #AEAEAE;
}
.login-form img {
  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  width: auto;
}


.signup-form label {
  cursor: default;
  text-align: left;
  display: block;
  margin: 10px 0 0;
  font-weight: bold;
}

/* input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* login btn */
.login-form button {
  margin: 20px 0 0;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: hsl(211, 100%, 50%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.login-form button:hover {
  background-color: hsl(211, 100%, 43%);
}

#LI-text {
  color: #696969;
}
#log-in {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
/* End of login form */





/* Sign Up */
/* controls the whole signup Card */
.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 25px;
  max-width: 1000px;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 0 30vw 1vw rgb(0, 0, 0);
  background-color: #AEAEAE;
}
.signup-form img {
  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  width: auto;
}


.signup-form label {
  cursor: default;
  text-align: left;
  display: block;
  margin: 10px 0 0;
  font-weight: bold;
}

/* input fields */
.signup-form input[type="firstName"],
.signup-form input[type="lastName"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* signup btn */
.signup-form button {
  margin: 20px 0 0;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: hsl(211, 100%, 50%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.signup-form button:hover {
  background-color: hsl(211, 100%, 43%);
}

#LI-text {
  color: #696969;
}
#log-in {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
/* End of signup form */










/* Home Page */
#home-page {
  width: 100%;
  padding: var(--headerHeight) 0 0;
}

#home-hero {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-position-x: center;
  background-position-y: -200px;
}
/* #home-hero img {
  width: 100%;
  height: 600px;
  background-size: cover;
} */
#hero {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
  background-image: url("./assets/heroImg.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: -370px;
}

#idk-RENAMEME {
  position: absolute;
  top: 105px;
  left: 150px;
  width: 500px;
  background-color: #0000009a;
  padding: 15px;
  border-radius: 7px;
  text-align: left;
}
#idk-RENAMEME h1 {
  text-align: left;
}


#clothing {
  padding: 0 0 150px;
}

#clothing h2 {
  font-size: 4em;
  padding: 0 0 15px;
  text-align: center;
}

#clothing-small-display {
  display: flex;
  overflow: hidden;
}

.small-display {
  position: relative;
  cursor: pointer;
  transition: 0.6s ease-out;
}

.small-display:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.small-display h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000cc;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px #000000be;
}

.small-display img {
  border: #000 solid 1px;
}


/* Video Animation */

#video-animation-page {
  position: relative;
  overflow-x: hidden;
  /* padding: 0 311.5px; */
  background-color: #000;
  height: 200vh;
  width: 100%;
  /* object-fit: cover; */
  /* z-index: -2 */
}

#video-animation-page video {
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}






/* global styling for prodiuct display */

.flex-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 4% 10px;
  gap: 30px;
}

.product {
  background-color: rgba(82, 95, 91, 0.3);
  padding: 5px 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px #FFF solid;
}
.product a {
  cursor: default;
  text-decoration: none;
}

.product img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #bebebe;
}

.product-name {
  color: #FFF;
}

.product button {
  background-color: hsl(237, 66%, 55%);
}




/* Hoodie_WalkIn.jsx */
/* global styling for specific clothing pages */
.hero {
  width: 100%;
  background-color: #000;
}
.spec-item-page .hero img {
  width: 550px;
  padding: 0 10px;
}

.spec-item-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spec-item-info {
  margin: 50px 30px 50px 10px;
  text-align: left;
}

.spec-item-info p {
  font-size: 1.25em;
}
