body {
  background-color: hsl(0, 0%, 56%);
}

/* allows form to change its width */
#root {
  width: 100vw;
}


/* flex input and the img */
#UserPW {
  display: flex;
  flex-direction: column;
}

/* controls the whole Login Card */
.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 250px 10px rgba(0, 0, 0, 0.5);
  background-color: #AEAEAE;
}
.login-form img {
  /* you can change the color inside the logo */
  background-color: #fff;
  border-radius: 20px;
}

/* "Username:" and "Password:" */
.login-form label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Login btn */
.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: hsl(211, 100%, 50%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.login-form button:hover {
  background-color: hsl(211, 100%, 43%);
}

#SU-text {
  color: #696969;
}
#sign-up {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

